aiofiles
aiohttp
beautifulsoup4
bs4
python-dotenv
tgcrypto
requests
ffmpeg-python
pyrogram
pymongo
uvloop
wget
psutil
yt-dlp
pykeyboard
bs4
pymediainfo
youtube-search
youtube-search-python
attrify
maling==1.9.0
gitpython
heroku3
speedtest-cli
telegraph
pySmartDL
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
httpx[http2]
gpytranslate
gtts
search_engine_parser
pytimeparse
regex
Pillow==9.0.0
pytz
pyyaml
lyricsgenius==3.0.1
SafoneApi
pytgcalls==3.0.0.dev22
